<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Login here</h2>
    <form class="login" action="/users/login" method="post">
      <label><input type="text" name="username" placeholder="Username"></label><br>
      <label><input type="password" name="password" placeholder="Password"></label><br>
      <input id="submit" type="submit">
    </form>
  </body>
</html>
