<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign Up for Fwitter</title>
  </head>
  <body>
    <form class="signup" action="/users/signup" method="post">
      <label>Username: <input type="text" name="username" placeholder="Your username"></label><br>
      <label>Email Address: <input type="text" name="email" placeholder="e.g. your email@provider.com"></label><br>
      <label>Your Password: <input type="password" name="password" placeholder="password"></label><br>
      <input type="submit">
    </form>

  </body>
</html>
